In [2]:
#install packages
import pandas as pd
#import data
air_data = pd.read_csv('AirQuality_Daily_StudentVersion.csv')
#dataframe
air_data=pd.DataFrame(air_data)

In [3]:
#Task 1 - What are the 5 locations in Nebraska with the highest mean and median concentrations of VOC, PM 2.5, and PM 10.0?
air_data_grouped = air_data.groupby('sensor.name')

#5 locations with the highest Mean and Median of voc, PM 2.5, PM 10.0
air_data_voc_mean = air_data_grouped.agg(mean =('voc', 'mean'))
air_data_voc_median = air_data_grouped.agg(median =('voc', 'median'))

air_data_pm25_mean = air_data_grouped.agg(mean =('voc', 'mean'))
air_data_pm25_median = air_data_grouped.agg(median =('voc', 'median'))

air_data_pm10_mean = air_data_grouped.agg(mean =('voc', 'mean'))
air_data_pm10_median = air_data_grouped.agg(median =('voc', 'median'))

#highest mean and median of voc
top5_mean_voc = (air_data_voc_mean.sort_values(by = 'mean', ascending = False)).head(5)
top5_median_voc = (air_data_voc_median.sort_values(by = 'median', ascending = False)).head(5)

#highest mean and median of PM 2.5
top5_mean_PM25 = (air_data_pm25_mean.sort_values(by = 'mean', ascending = False)).head(5)
top5_median_PM25 = (air_data_pm25_median.sort_values(by = 'median', ascending = False)).head(5)

#highest mean and median of PM 10.0
top5_mean_PM10 = (air_data_pm10_mean.sort_values(by = 'mean', ascending = False)).head(5)
top5_median_PM10 = (air_data_pm10_median.sort_values(by = 'median', ascending = False)).head(5)

#display voc data
display(top5_mean_voc)
display(top5_median_voc)
#display 2.5 data
display(top5_mean_PM25)
display(top5_median_PM25)
#display 10.0 data
display(top5_mean_PM10)
display(top5_median_PM10)

                                             mean
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

                                           median
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

                                             mean
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

                                           median
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

                                             mean
sensor.name
Swnphd-ogallala                        399.434240
FCHD-YPS                               372.462720
Three Rivers Public Health Department  370.216208
ELVPHD Norfolk HD 4                    360.833744
Swnphd-mccook                          353.941581

                                           median
sensor.name
Swnphd-ogallala                        423.082292
Swnphd-mccook                          381.468479
Three Rivers Public Health Department  376.810167
FCHD-YPS                               375.383500
ELVPHD Norfolk HD 4                    368.580500

In [51]:
#Task 2 - On what days did the maximum values occur, and where did these maximums occur?

#max values
pm25_max_value = air_data.agg(pm25_max=('pm2.5_atm','max')).iloc[0,0]
pm10_max_value = air_data.agg(pm10_max=('pm10.0_atm','max')).iloc[0,0]
voc_max_value = air_data.agg(voc_max=('voc','max')).iloc[0,0]

#Rows where variables are at max
pm25_max_rows = air_data[air_data['pm2.5_atm'] == pm25_max_value]
pm10_max_rows = air_data[air_data['pm10.0_atm'] == pm10_max_value]
voc_max_rows = air_data[air_data['voc'] == voc_max_value]

#summary table
summary = pd.concat([pm25_max_rows, pm10_max_rows, voc_max_rows])

#select necessary columns that are asked for
summary = summary[['date', 'sensor.name', 'pm2.5_atm', 'pm10.0_atm', 'voc']]

display(summary)

,date,sensor.name,pm2.5_atm,pm10.0_atm,voc
7561,02/18/25,#16 - Richardson County Courthouse,3782.823313,3784.682542,NaN
7561,02/18/25,#16 - Richardson County Courthouse,3782.823313,3784.682542,NaN
2391,06/24/24,Swnphd-ogallala,1.408286,1.799071,1209.931571

In [37]:
#Task 3 - Does humidity and air temperature have a noticeable effect on air quality
#Define a function for temperature
def assign_temperature(temperature):
    if temperature < 32:
        return "Below Freezing"
    elif 32 <= temperature <= 50:
        return 'Cool'
    elif 51<= temperature <= 70:
        return 'Warm'
    else:
        return 'Hot'
#Apply the function to the data
air_data['temperature_level'] = air_data['temperature'].apply(assign_temperature)

#Define a function for humidity
def assign_humidity(humidity):
    if humidity < 50:
        return "low humidity"
    elif 50 <= humidity <= 80:
        return 'high humidity'
    else:
        return 'very high humidity'
#apply the function to the data
air_data['humidity_level'] = air_data['humidity'].apply(assign_humidity)

#pivot table if temperature has an effect on air quality
mean_values_temperature = pd.pivot_table(
    air_data,
    index = 'temperature_level',
    values = ['voc','pm2.5_atm','pm10.0_atm'],
    aggfunc=['mean']).sort_index()

#pivot table if humidity has an effect on air quality
mean_values_humidity = pd.pivot_table(
    air_data,
    index = 'humidity_level',
    values = ['voc','pm2.5_atm','pm10.0_atm'],
    aggfunc=['mean']).sort_index()

In [38]:
#Task 3 Display temperature pivot table
mean_values_temperature

                         mean
                   pm10.0_atm   pm2.5_atm         voc
temperature_level
Below Freezing     276.080794  273.698560  257.628626
Cool               143.074475  141.658843  285.435146
Hot                 73.964812   72.309380  281.957598
Warm                84.021411   83.102238  255.916308

In [39]:
#Task 3 Display humidity pivot table
mean_values_humidity

                          mean
                    pm10.0_atm   pm2.5_atm         voc
humidity_level
high humidity        82.561133   80.874444  252.664069
low humidity         77.880520   76.513935  279.329347
very high humidity  536.520850  533.786399   19.395555

In [56]:
#Task 4 - Have there been any air quality index health risks at any of the locations in the dataset for PM 2.5 and PM 10 based on EPA's AQI ratings
#Defines two functions for unhealthy amount of particles for pm2.5 and pm10.0
def assign_PM25(PM25):
    if PM25 <= 12:
        return 'Good'
    elif 12 < PM25 <=35.5:
        return 'Moderate'
    elif 35.5 < PM25 <= 55.5:
        return 'Unhealthy for Sensitive Groups'
    elif 55.5 < PM25 <= 150.5:
        return 'Unhealthy'
    elif 150.5 < PM25 <= 250.5:
        return 'Very Unhealthy'
    else:
        return 'hazardous'

def assign_PM10(PM10):
    if PM10 <= 55:
        return 'Good'
    elif 55 < PM10 <=155:
        return 'Moderate'
    elif 155 < PM10 <= 255:
        return 'Unhealthy for Sensitive Groups'
    elif 255 < PM10 <= 355:
        return 'Unhealthy'
    elif 355 < PM10 <= 425:
        return 'Very Unhealthy'
    else:
        return 'hazardous'

#apply the functions to the data
air_data['pm2.5_level'] = air_data['pm2.5_atm'].apply(assign_PM25)
air_data['pm10.0_level'] = air_data['pm10.0_atm'].apply(assign_PM10)

#Filter rows with Health risks
risk_categories = ['Unhealthy for Sensitive Groups', 'Unhealthy','Very Unhealthy', 'hazardous'] #allows the filtering of multiple categories into one data set
health_risk_pm25 = air_data[air_data['pm2.5_level'].isin(risk_categories)]
health_risk_pm10 = air_data[air_data['pm10.0_level'].isin(risk_categories)]

#combines the two health risk types into 1 data set
health_risk = pd.concat([health_risk_pm25,health_risk_pm10])


summary = health_risk[['date','sensor.name','pm2.5_atm','pm2.5_level','pm10.0_atm','pm10.0_level']]

display(summary)

,date,sensor.name,pm2.5_atm,pm2.5_level,pm10.0_atm,pm10.0_level
370,03/29/24,ELVPHD Wisner HD 5,39.761896,Unhealthy for Sensitive Groups,50.163333,Good
377,03/29/24,ELVPHD Norfolk HD 4,38.425396,Unhealthy for Sensitive Groups,43.370375,Good
529,04/06/24,TRPHD Harlan Co. Courthouse 24,37.819938,Unhealthy for Sensitive Groups,43.793979,Good
544,04/06/24,Swnphd-ogallala,39.169042,Unhealthy for Sensitive Groups,46.152625,Good
1341,05/14/24,ELVPHD Wisner HD 5,48.140771,Unhealthy for Sensitive Groups,60.299813,Moderate
...,...,...,...,...,...,...
8274,03/23/25,Swnphd-mccook,981.919875,hazardous,982.185500,hazardous
8291,03/24/25,#18 - Southeast District Health Department- Te...,1692.498333,hazardous,1692.793896,hazardous
8293,03/24/25,NCDHD O'Neill #11,1714.236813,hazardous,1714.360500,hazardous
8294,03/24/25,Broken Bow,1713.840375,hazardous,1713.964083,hazardous
8295,03/24/25,Swnphd-mccook,563.337313,hazardous,564.363833,hazardous

In [57]:
#Task 5 - Does the sensor altitude have an impact on the air quality values?

def assign_altitude(altitude):
    if altitude < 1500:
        return "0-1500ft"
    elif 1500 <= altitude < 2000:
        return '1500-2000ft'
    elif 2000<= altitude < 2500:
        return '2000-2500ft'
    else:
        return '2500<ft'
#Apply the function to the data
air_data['altitude_level'] = air_data['sensor.altitude'].apply(assign_altitude)

mean_values_altitude = pd.pivot_table(
    air_data,
    index = 'altitude_level',
    values = ['voc','pm2.5_atm','pm10.0_atm'],
    aggfunc=['mean']).sort_index()

mean_values_altitude

                      mean
                pm10.0_atm   pm2.5_atm         voc
altitude_level
0-1500ft        169.849046  167.986720  239.718255
1500-2000ft      25.436758   24.016622  261.678403
2000-2500ft      13.283595   11.781135  331.290364
2500<ft         149.067477  147.867249  283.223755